<html>

<head>
  {% include 'base.html' %}
  <meta http-equiv="Content-Language" content="en-us">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>LCG Conf. {{release.version}} Overview</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>
        LCG Software Elements
      </h1>
      <hr/>
    </div>
    <div class="row">
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'relinfo.views.allreleases' %}">
            Main
          </a>
        </li>
        <li>LCG Configuration {{release.version}}</li>
      </ol>
      <div style="float: right;">
        Compare with another configuration:
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            --- <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% for item in releases %}
              {% ifequal item.version release.version %}
              {% else %}
                <li>
                  <a href="{% url 'relinfo.views.compare' release.version item.version %}">
                    {{item.version}}
                  </a>
                </li>
              {% endifequal %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <hr/>
    </div>
    <div class="row">
      <h2>
        Description:
      </h2>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Description:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ release.description }}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Release date:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ release.date|date:"M d, Y" }}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-2">
        <h4>
          Platforms:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <ul>
          {% for rel in release.platforms.all %}
            <li>
              {{rel.name}}
            </li>
          {%endfor%}
        </ul>
      </div>
    </div>
    {% if release.release_notes%}
      <div class="row vcenter col-md-offset-2">
        <div class="col-md-2">
          <h4>
            <a href="{% url 'relinfo.views.release_notes' release.version %}">Release Notes</a>
          </h4>
        </div>
      </div>
    {% endif %}
    <hr/>
    <h2>Packages:</h2>
    {% load extras %}
    <div class="row col-md-8 col-md-offset-2">
      <table class="table">
        {% for cat in categories  %}
          <tr>
            <td colspan=2 style="border-top: none;">
              <h3>
                {{cat.1}}
              </h3>
            </td>
          </tr>
          {% for tag in packagesByCategory|arrayAccess:cat.0 %}
            <tr>
              <td class="">
                <a href="{% url 'relinfo.views.package' tag.0 %}">
                  {{ tag.0 }}
                </a>
              </td>
              <td class="">
                {% for tagv in tag.1 %}
                  <!-- Don't break the line. It is neccesary for formatting -->
                  <a href="{% url 'relinfo.views.tag' tag.0 tagv %}">{{ tagv }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>

  </div>
</body>

</html>
</body>

</html>
